<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MiageBook - REST App</display-name>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>disconnectServlet</servlet-name>
  	<servlet-class>DisconnectServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>connectServlet</servlet-name>
  	<servlet-class>ConnectServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>disconnectServlet</servlet-name>
  	<url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>connectServlet</servlet-name>
  	<url-pattern>/connect</url-pattern>
  </servlet-mapping>
</web-app>